ul {
    margin-top:10px;
    margin-bottom:10px;
    list-style-type:none;
    padding:0px;
}

a {
    color:darkslategrey;
}

a:hover {
    text-decoration:none;
    color:lightgray;
}

li:hover {
    background-color:black
}